.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px 16px;
}

.login__header {
    text-align: center;
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.login__container label {
    color: var(--color-text-white);
}

@media (min-width: 600px) {

    .login__form,
    .login__container a{
        width: auto;
    }

    .login__form {
        width: 50%;
    }
}

@media (min-width: 960px) {

    .login__container {
        width: 100%;
        gap: 24px;
        padding: 80px 40px;
    }

    .login__form {
        width: 30%;
    }

    .login__container a {
        width: auto;
    }
}