.user {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__container {
    max-width: 1290PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    padding: 20px 16px;
    margin-top: 80px;
}

.user__title {
    margin: 16px 0;
}

.user__btn {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width: 960px) {

    .user {
        width: 100%;
        justify-content: center;
    }

    .user__container {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 80px 40px;
    }

    .user__content {
        max-width: 30%;
    }
}